---
export interface Image {
  image: string;
  alt: string;
}
export interface Props {
  image1: Image;
  image2: Image;
  image3: Image;
}
const { image1, image2, image3 } = Astro.props;
---

<div class="mw7 center ph3 pv4">
  <div class="flex flex-wrap mhn1">
    <div class="w-100 w-50-ns ph1-ns">
      <img src={image1.image} alt={image1.alt} />
    </div>
    <div class="w-100 w-50-ns ph1-ns">
      <img src={image2.image} alt={image2.alt} />
    </div>
    <div class="w-100 ph1-ns">
      <img src={image3.image} alt={image3.alt} />
    </div>
  </div>
</div>
